body {
    margin: 0;
}

header {
    align-items: center;
    background-color: #28B463;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;

}

img {
    width: 100px;
}

nav a {
    color: red;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 2px 15px;
    text-decoration: none;
}

.menu-maca {
    display: none;
}

@media(max-width: 700px) {
    nav {
        position: absolute;
        right: 0;
        top: 140px;
        background-color: #DAF7A6;
        width: 100%;
        text-align: right;
    }

    .menu-maca {
        display: block;
    }

    nav a {
    display: block;
    padding: 6px 20px;
    }
}